# General overview of Python programming¶

* Python is a general-purpose interpreted, interactive, object-oriented, and high-level programming language. 
* Created by Guido van Rossum
* Python is designed to be highly readable. It uses English keywords frequently where as other languages use punctuation

# Applications for Python

* Web Development(Django &Flask)
* Game Development(Blender,Unity3d,UDK)
* Machine Learning and Artificial Intelligence(Sklearn, )
* Data Science and Data Visualization(Pandas, Plotly, Dash)
* Desktop GUI(Tkinter,kivy)
* Web Scraping Applications (Beautifulsoap,ScrapySelinium,Splash )
* Embedded Applications (Arduino,Raspberry Pi)
* Mobile application (Kivy)

# Getting Python

* The most up-to-date and current source code, binaries, documentation, news, etc., is available on the official website of Python https://www.python.org/

* You can download Python documentation from https://www.python.org/doc/. The documentation is available in HTML, PDF, and PostScript formats.

# Python IDEs and Code Editors¶

* Pycharm : https://www.jetbrains.com/pycharm/
* VS Code : https://code.visualstudio.com/
* Anacoda : https://www.anaconda.com/products/individual

# Agenda

This lesson  covers the basic syntax and language rules to follow when writing a python program.

# COMMENTS

* You use the hash symbol for single line comments and single or double quotes for multi-line comments

In [5]:

#This is a single line comment

In [24]:
""" This
is 
a
multiple
line
comment"""

'This\nis \na\nmultiple\nline\ncomment'

# VARIABLES

Variable names are case sensitive (name and NAME are different variables)
 * Must start with a letter or an underscore
 * Can have numbers but must not start with one
 * Python is loosely-typed (you don’t specify the type when declaring a variable.

In [1]:
x = 1           # int

y = 2.5         # float

name = 'John'   # string

is_cool = True  #boolean

manynames= ['Brian','Ogoye','Lynn'] #list 

mytuple= (1,2,3) #tupples

d={'email':'jm@ads.com','password':123} # Dictionary 

s = {1, 2.3}  # set

# Data Types

# NUMERIC

Include integers and floats.

### Integers

In [2]:
x= 1
x

1

In [4]:
y= 2+2
y

4

### Float

In [5]:
2.5 + 5.2

7.7

In [6]:
d=2.960594
d

2.960594

In [7]:
y = 2.7894 * 9.21864
y

25.714474416

# STRINGS

* Strings in python are surrounded by either single or double quotation marks
* F-Strings enable you easily concatenate two different types without having to cast it first

### create string

In [1]:
first_name = 'DAVIDO'
second_name="the musician"

first_name

'DAVIDO'

In [2]:

second_name

'the musician'

### String Formatting

In [9]:
#string 
name = 'Wizkid'
#int 
age = 21

# Concatenate (print wizkid age )
print('Hello, my name is ' + name + ' and I am ' + str(age)) #you must cast age int into a string

Hello, my name is Wizkid and I am 21

In [10]:
# F-Strings (3.6+)
print(f'Hello, my name is {name} and I am {age}') #with this you don’t need str() helper

Hello, my name is Wizkid and I am 21

### STRING METHODS

In [4]:

s = 'helloworld'

In [5]:
# Capitalize string
s.capitalize()

'Helloworld'

In [6]:
# Make all uppercase
s.upper()

'HELLOWORLD'

In [14]:
# Make all lower
s.lower()

'helloworld'

In [15]:
# Swap case
s.swapcase()

'HELLOWORLD'

In [16]:
# Get length
len(s)

10

In [17]:
# Replace
s.replace('world', 'everyone')

'helloeveryone'

In [8]:
# Count
sub = 'h'
s.count(sub)

1

In [19]:
# Starts with
s.startswith('hello')

True

In [20]:
# Ends with
s.endswith('d')

True

In [21]:
# Split into a list
s.split()

['helloworld']

In [9]:
# Find position
s.find('w')

5

# LISTS

* These are data collections which are ordered, changeable and can have duplicate members

In [10]:
numbers = [1, 2, 3, 4, 5]
numbers

[1, 2, 3, 4, 5]

In [4]:
fruits = ['Apples', 'Oranges', 'Grapes', 'Pears']
# Get a value
print(fruits[0])

Apples

In [5]:
# Append to list
fruits.append('Mangos')
fruits

['Apples', 'Oranges', 'Grapes', 'Pears', 'Mangos']

In [6]:
# Remove from list
fruits.remove('Mangos')

In [7]:
fruits

['Apples', 'Oranges', 'Grapes', 'Pears']

In [34]:
# Insert into position
fruits.insert(2, 'Strawberries')

In [35]:
fruits

['Apples', 'Oranges', 'Strawberries', 'Pears', 'Mangos', 'Mangos']

In [37]:
# Change value
fruits[0] = 'Blueberries'

In [38]:
fruits

['Blueberries', 'Oranges', 'Strawberries', 'Pears', 'Mangos', 'Mangos']

In [39]:
# Remove with pop
straw=fruits.pop(2)

'Strawberries'

# TUPLES

These are data collections which are ordered, unchangeable and can have duplicate members.

In [40]:
# Create tuple
fruits_tuple = ('Apples', 'Oranges', 'Grapes')

In [45]:
# Get value
print(fruits_tuple[1])

Oranges

In [46]:
# unchangeable values
fruits_tuple [0] = 'Pears'

TypeError: 'tuple' object does not support item assignment

# SET

These are data collections which are unordered and doesn’t allow duplicate members

In [9]:
fruits_set = {'Apples', 'Oranges', 'Mango','Mango','Mango','Mango','Mango'}

In [10]:
fruits_set

{'Apples', 'Mango', 'Oranges'}

In [48]:
# Add to set
fruits_set.add('Grape')

In [49]:
# Remove from set
fruits_set.remove('Grape')

In [50]:
# Add duplicate
fruits_set.add('Apples')

In [51]:
fruits_set

{'Apples', 'Mango', 'Oranges'}

In [ ]:
# Check if in set
print('Apples' in fruits_set)

In [52]:
# Clear set
fruits_set.clear()

In [53]:
# Delete
del fruits_set

# DICTIONARY

These are data collections which are unordered, changeable and indexed. 

* A collection of items linked ot a given Key.Denoted in a {key:value} format.

In [59]:
person={'name': 'Martha', 'age': 30,'city':'Cape tOWN'}

In [60]:

# Get value
print(person.get('name'))

Martha

In [61]:
# Get value
print(person['name'])

Martha

In [63]:
# Add key/value
person['phone'] = '072-222-3333'

person

{'name': 'Martha', 'age': 30, 'phone': '072-222-3333'}

In [64]:
# Get dict keys
print(person.keys())

dict_keys(['name', 'age', 'phone'])

In [65]:
# Get dict items
print(person.items())

dict_items([('name', 'Martha'), ('age', 30), ('phone', '072-222-3333')])

In [67]:
## Copy dict
person2 = person.copy()
person2['city'] = 'Boston'
person2

{'name': 'Martha', 'age': 30, 'phone': '072-222-3333', 'city': 'Boston'}

In [68]:
#remove a person age 
del(person['age'])
person

{'name': 'Martha', 'phone': '072-222-3333'}

In [69]:
person.pop('phone')

'072-222-3333'

In [70]:
# Get length
print(len(person2))

4

In [71]:
# List of dict, like array of objects in javascript
people = [
    {'name': 'Martha', 'age': 30},
    {'name': 'Kevin', 'age': 25}
]

In [72]:
people

[{'name': 'Martha', 'age': 30}, {'name': 'Kevin', 'age': 25}]

# LOOPS

Loops are mechanisms for iterating over a list of items while performing a consistent action on each of them

In [82]:
students = ['Emma ', 'Sandy','Sara','James', 'Ethan']

In [83]:
#simple loop  

for pupil in students:
  print(f'Current Pupil: {pupil}')

Current Pupil: Emma
Current Pupil: Sandy
Current Pupil: Sara
Current Pupil: James
Current Pupil: Ethan

In [84]:
# Break
for pupil in students:
    if person == 'Sara':
        break
        print(f'Current Pupil: {pupil}')

In [85]:
# Continue
for pupil in students:
  if person == 'Sara':
    continue
  print(f'Current Pupil: {pupil}')

Current Pupil: Emma
Current Pupil: Sandy
Current Pupil: Sara
Current Pupil: James
Current Pupil: Ethan

In [86]:
# prints a pupil and increments to the next
for i in range(len(students)):
  print(students[i])

Emma
Sandy
Sara
James
Ethan

In [87]:
# While loops execute a set of statements as long as a condition is true.

count = 0
while count < 10:
  print(f'Count: {count}')
  count += 1

Count: 0
Count: 1
Count: 2
Count: 3
Count: 4
Count: 5
Count: 6
Count: 7
Count: 8
Count: 9

# CONDITIONALS

If/else expressions are used to execute a set of instructions based on whether a statement is true or false.

In [14]:
x = 15
y = 14

In [13]:
#if 
if x > y:
  print(f'{x} is greater than {y}')

In [90]:
#if/else
if x > y:
  print(f'{x} is greater than {y}')
else:
  print(f'{y} is greater than {x}')

15 is greater than 14

In [91]:
# elif
if x > y:
  print(f'{x} is greater than {y}')
elif x == y:
  print(f'{x} is equal to {y}') 

else:
  print(f'{y} is greater than {x}')

15 is greater than 14

### # Logical operators (and, or, not) - Used to combine conditional statements

In [92]:
# and
if x > 4 and x <= 12:
    print(f'{x} is greater than 2 and less than or equal to 10')

In [93]:
# or
if x > 4 or x <= 12:
    print(f'{x} is greater than 2 or less than or equal to 10')

15 is greater than 2 or less than or equal to 10

In [94]:
# not
if not(x == y):
  print(f'{x} is not equal to {y}')

15 is not equal to 14

# FUNCTIONS

* In python, functions are defined with the def keyword.
* Indentation is used instead of curly braces.
* A colon is placed after the parameters.
* No semi-colons.

In [96]:
def getSum(num1, num2):
    total = num1 + num2
    return total



print(getSum(10, 3)) #prints 13

13

In [97]:

def my_function(fname):
    print(fname + " Refsnes")

my_function("Marjo")
my_function("Marcus ")
my_function("Marco")

Marjo Refsnes
Marcus  Refsnes
Marco Refsnes

In [98]:

def my_function(*kids):
    print("The youngest child is " + kids[2])

my_function("Emil", "Tobias", "Linus")

The youngest child is Linus

In [15]:
def square(num):
    """
    function to  square a number 
    """
    #return num**2
    print(num**2)

In [16]:
square(10)

100

# MODULES

A module is a file containing a set of functions to include in your application. There are core python modules which are part of the Python environment, modules you can install using the pip package manager as well as custom modules

In [18]:
# Core modules
import datetime
from datetime import date
import time
from time import time

# Pip module
import pandas as pd
import numpy as np

# Import custom module


# today = datetime.date.today()
today = date.today()
timestamp = time()

today

datetime.date(2021, 2, 16)

# Practial MAKING A BASIC CALCULATOR USING PYTHON¶

In [20]:
# This function adds two numbers
def add(x, y):
    return x + y

# This function subtracts two numbers
def subtract(x, y):
    return x - y

# This function multiplies two numbers
def multiply(x, y):
    return x * y

# This function divides two numbers
def divide(x, y):
    return x / y

In [22]:
print("Select operation.")
print("1.Add")
print("2.Subtract")
print("3.Multiply")
print("4.Divide")

while True:
    # Take input from the user
    choice = input("Enter choice(1/2/3/4): ")

    # Check if choice is one of the four options
    if choice in ('1', '2', '3', '4'):
        num1 = float(input("Enter first number: "))
        num2 = float(input("Enter second number: "))

        if choice == '1':
            print(num1, "+", num2, "=", add(num1, num2))

        elif choice == '2':
            print(num1, "-", num2, "=", subtract(num1, num2))

        elif choice == '3':
            print(num1, "*", num2, "=", multiply(num1, num2))

        elif choice == '4':
            print(num1, "/", num2, "=", divide(num1, num2))
        break
    else:
        print("Invalid Input")

Select operation.
1.Add
2.Subtract
3.Multiply
4.Divide
Enter choice(1/2/3/4): 3
Enter first number: 4
Enter second number: 6
4.0 * 6.0 = 24.0

# Reading Materials

### Python Basic Syntax :

* 1 https://zerotomastery.io/cheatsheets/python-cheat-sheet/

* 2) https://www.youtube.com/watch?v=kqtD5dpn9C8&t=579s


###### More detailed:
* 3) https://www.youtube.com/watch?v=_uQrJ0TkZlc&t=672s


### Python Projects : Building E-commence Website)  :

* Short Video Series Project :  https://www.youtube.com/watch?v=Qr4QMBUPxWo&t=3s


* Long Video Series Project  https://www.youtube.com/watch?v=o9TwipumGoU&list=PLYPlvTh05MsxJja9bzQCSTDu4hnEv5N_u