In [56]:
import pandas as pd

In [57]:
df=pd.read_csv('diabetes.csv')

In [58]:
df.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12
0,6,148,72,35,0,33.6,0.627,50,1,NaN,NaN,NaN,NaN
1,1,85,66,29,0,26.6,0.351,31,0,NaN,NaN,NaN,NaN
2,8,183,64,0,0,23.3,0.672,32,1,NaN,NaN,NaN,NaN
3,1,89,66,23,94,28.1,0.167,21,0,NaN,NaN,NaN,NaN
4,0,137,40,35,168,43.1,2.288,33,1,NaN,NaN,NaN,NaN

In [59]:
df['Pregnancies'] = pd.to_numeric(df['Pregnancies'],errors='coerce')

In [60]:
df['Pregnancies']=df['Pregnancies'].astype('float')

In [61]:

X = df.iloc[:,:-1].values 
y = df.iloc[:,8].values
df.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12
0,6.0,148,72,35,0,33.6,0.627,50,1,NaN,NaN,NaN,NaN
1,1.0,85,66,29,0,26.6,0.351,31,0,NaN,NaN,NaN,NaN
2,8.0,183,64,0,0,23.3,0.672,32,1,NaN,NaN,NaN,NaN
3,1.0,89,66,23,94,28.1,0.167,21,0,NaN,NaN,NaN,NaN
4,0.0,137,40,35,168,43.1,2.288,33,1,NaN,NaN,NaN,NaN

In [62]:
df['Pregnancies'].isnull().sum()

0

In [63]:
df['Pregnancies']

0       6.0
1       1.0
2       8.0
3       1.0
4       0.0
5       5.0
6       3.0
7      10.0
8       2.0
9       8.0
10      4.0
11     10.0
12     10.0
13      1.0
14      5.0
15      7.0
16      0.0
17      7.0
18      1.0
19      1.0
20      3.0
21      8.0
22      7.0
23      9.0
24     11.0
25     10.0
26      7.0
27      1.0
28     13.0
29      5.0
       ...
738     2.0
739     1.0
740    11.0
741     3.0
742     1.0
743     9.0
744    13.0
745    12.0
746     1.0
747     1.0
748     3.0
749     6.0
750     4.0
751     1.0
752     3.0
753     0.0
754     8.0
755     1.0
756     7.0
757     0.0
758     1.0
759     6.0
760     2.0
761     9.0
762     9.0
763    10.0
764     2.0
765     5.0
766     1.0
767     1.0
Name: Pregnancies, Length: 768, dtype: float64

In [1]:
df['Pregnancies']=df['Pregnancies'].astype('int32')
df.drop(df['Pregnancies'])

NameError: name 'df' is not defined

In [65]:
X

array([[6.0, 148, 72, ..., nan, nan, nan],
       [1.0, 85, 66, ..., nan, nan, nan],
       [8.0, 183, 64, ..., nan, nan, nan],
       ...,
       [5.0, 121, 72, ..., nan, nan, nan],
       [1.0, 126, 60, ..., nan, nan, nan],
       [1.0, 93, 70, ..., nan, nan, nan]], dtype=object)

In [66]:
y

array([1, 0, 1, 0, 1, 0, 1, 0, 1, 1, 0, 1, 0, 1, 1, 1, 1, 1, 0, 1, 0, 0,
       1, 1, 1, 1, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 1, 1, 0, 0, 0, 1,
       0, 1, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 1, 0,
       1, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0,
       1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1,
       1, 1, 0, 0, 1, 1, 1, 0, 0, 0, 1, 0, 0, 0, 1, 1, 0, 0, 1, 1, 1, 1,
       1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0,
       1, 1, 0, 0, 0, 1, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 1, 1, 0, 0, 0, 1,
       0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 0, 0, 1, 1, 0, 1, 0, 1,
       1, 1, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 1, 1, 1, 1, 0, 1, 1,
       1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 1, 1, 0, 0, 0, 1, 1, 1, 1, 0, 0, 0,
       1, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 1, 0, 1, 0, 0,
       1, 0, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 1, 1, 0,
       0, 1, 0, 0, 0, 1, 1, 1, 0, 0, 1, 0, 1, 0, 1, 1, 0, 1, 0, 0, 1, 0,
       1, 1, 0, 0, 1, 0, 1, 0, 0, 1, 0, 1, 0, 1, 1, 1, 0, 0, 1, 0, 1, 0,
       0, 0, 1, 0, 0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0,
       0, 0, 0, 1, 1, 1, 0, 1, 1, 0, 0, 1, 0, 0, 1, 0, 0, 1, 1, 0, 0, 0,
       0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 0, 0, 1, 0, 0, 1, 0,
       0, 1, 0, 1, 1, 0, 1, 0, 1, 0, 1, 0, 1, 1, 0, 0, 0, 0, 1, 1, 0, 1,
       0, 1, 0, 0, 0, 0, 1, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0,
       1, 0, 0, 1, 1, 1, 0, 0, 1, 0, 0, 1, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0,
       1, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0,
       1, 0, 0, 0, 1, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 1, 1, 0, 0, 1, 1, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0,
       0, 0, 0, 0, 0, 1, 0, 1, 1, 0, 0, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0,
       0, 1, 0, 0, 1, 0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 1, 1, 0, 1, 0,
       0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0,
       1, 0, 0, 0, 1, 0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1,
       0, 1, 1, 1, 1, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 1,
       0, 1, 0, 0, 0, 0, 0, 1, 0, 1, 0, 1, 0, 1, 1, 0, 0, 0, 0, 1, 1, 0,
       0, 0, 1, 0, 1, 1, 0, 0, 1, 0, 0, 1, 1, 0, 0, 1, 0, 0, 1, 0, 0, 0,
       0, 0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 1, 0, 0, 1, 0,
       1, 1, 1, 0, 0, 1, 1, 1, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 1, 0],
      dtype=int64)

In [67]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2)

In [68]:
X_train

array([[1.0, 112, 72, ..., nan, nan, nan],
       [3.0, 130, 78, ..., nan, nan, nan],
       [7.0, 147, 76, ..., nan, nan, nan],
       ...,
       [7.0, 150, 66, ..., nan, nan, nan],
       [1.0, 71, 78, ..., nan, nan, nan],
       [9.0, 102, 76, ..., nan, nan, nan]], dtype=object)

In [69]:
y_test

array([1, 0, 0, 1, 1, 1, 1, 0, 0, 0, 0, 1, 0, 1, 1, 0, 0, 1, 0, 1, 1, 0,
       1, 0, 1, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 0, 0,
       0, 1, 1, 1, 1, 0, 1, 0, 0, 1, 1, 1, 0, 1, 0, 1, 1, 0, 1, 0, 1, 0,
       1, 1, 0, 0, 1, 0, 1, 1, 0, 0, 1, 0, 0, 1, 0, 0, 0, 1, 1, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 1, 1, 0, 1, 1, 0, 1, 0,
       0, 0, 1, 1, 1, 1, 0, 0, 0, 1, 1, 0, 0, 1, 0, 0, 1, 1, 1, 1, 0, 0,
       0, 0, 1, 0, 1, 0, 0, 1, 1, 0, 0, 0, 1, 1, 0, 1, 1, 1, 1, 0, 1, 0],
      dtype=int64)

In [73]:
X_train[:,0]

array([1.0, 3.0, 7.0, 1.0, 4.0, 4.0, 12.0, 1.0, 3.0, 9.0, 2.0, 1.0, 3.0,
       5.0, 5.0, 2.0, 5.0, 6.0, 4.0, 1.0, 4.0, 2.0, 1.0, 7.0, 0.0, 8.0,
       11.0, 2.0, 0.0, 3.0, 6.0, 3.0, 10.0, 0.0, 0.0, 0.0, 4.0, 8.0, 1.0,
       2.0, 1.0, 0.0, 2.0, 0.0, 7.0, 2.0, 4.0, 1.0, 4.0, 3.0, 7.0, 3.0,
       0.0, 6.0, 1.0, 1.0, 5.0, 7.0, 13.0, 4.0, 1.0, 6.0, 6.0, 2.0, 0.0,
       9.0, 3.0, 4.0, 0.0, 4.0, 3.0, 2.0, 4.0, 5.0, 10.0, 8.0, 6.0, 6.0,
       3.0, 0.0, 1.0, 4.0, 8.0, 10.0, 0.0, 0.0, 11.0, 13.0, 7.0, 2.0, 1.0,
       5.0, 4.0, 0.0, 2.0, 1.0, 5.0, 4.0, 0.0, 0.0, 10.0, 0.0, 3.0, 4.0,
       3.0, 1.0, 0.0, 5.0, 9.0, 10.0, 10.0, 6.0, 4.0, 11.0, 3.0, 9.0, 0.0,
       5.0, 2.0, 7.0, 2.0, 8.0, 0.0, 7.0, 0.0, 2.0, 0.0, 4.0, 1.0, 0.0,
       12.0, 0.0, 3.0, 2.0, 4.0, 2.0, 4.0, 4.0, 1.0, 6.0, 3.0, 8.0, 4.0,
       4.0, 8.0, 1.0, 0.0, 0.0, 2.0, 13.0, 12.0, 3.0, 1.0, 1.0, 8.0, 1.0,
       0.0, 7.0, 2.0, 5.0, 9.0, 8.0, 1.0, 0.0, 7.0, 1.0, 1.0, 5.0, 7.0,
       7.0, 5.0, 2.0, 0.0, 2.0, 6.0, 3.0, 5.0, 4.0, 2.0, 14.0, 2.0, 1.0,
       4.0, 13.0, 1.0, 1.0, 1.0, 2.0, 2.0, 7.0, 0.0, 0.0, 1.0, 3.0, 5.0,
       2.0, 6.0, 3.0, 2.0, 9.0, 2.0, 4.0, 0.0, 5.0, 6.0, 1.0, 6.0, 4.0,
       10.0, 0.0, 4.0, 4.0, 1.0, 4.0, 2.0, 0.0, 6.0, 2.0, 4.0, 5.0, 0.0,
       1.0, 1.0, 2.0, 1.0, 3.0, 5.0, 0.0, 8.0, 9.0, 8.0, 8.0, 1.0, 8.0,
       1.0, 2.0, 0.0, 0.0, 5.0, 2.0, 1.0, 3.0, 4.0, 7.0, 8.0, 4.0, 1.0,
       1.0, 2.0, 2.0, 2.0, 2.0, 3.0, 7.0, 0.0, 2.0, 11.0, 0.0, 4.0, 3.0,
       2.0, 7.0, 1.0, 1.0, 5.0, 1.0, 4.0, 4.0, 8.0, 6.0, 5.0, 1.0, 7.0,
       3.0, 6.0, 13.0, 3.0, 6.0, 4.0, 3.0, 1.0, 3.0, 3.0, 7.0, 12.0, 1.0,
       0.0, 1.0, 2.0, 8.0, 0.0, 3.0, 6.0, 9.0, 3.0, 3.0, 0.0, 2.0, 5.0,
       1.0, 1.0, 1.0, 3.0, 4.0, 8.0, 1.0, 4.0, 1.0, 0.0, 0.0, 2.0, 3.0,
       1.0, 10.0, 1.0, 4.0, 3.0, 7.0, 8.0, 1.0, 8.0, 0.0, 6.0, 4.0, 7.0,
       2.0, 13.0, 2.0, 7.0, 1.0, 6.0, 1.0, 7.0, 2.0, 3.0, 3.0, 3.0, 2.0,
       2.0, 2.0, 1.0, 1.0, 9.0, 5.0, 6.0, 1.0, 1.0, 5.0, 1.0, 6.0, 2.0,
       3.0, 6.0, 0.0, 9.0, 9.0, 1.0, 7.0, 3.0, 2.0, 0.0, 2.0, 1.0, 5.0,
       8.0, 0.0, 1.0, 2.0, 7.0, 4.0, 1.0, 2.0, 1.0, 3.0, 1.0, 7.0, 9.0,
       1.0, 2.0, 0.0, 8.0, 3.0, 2.0, 10.0, 1.0, 0.0, 8.0, 7.0, 5.0, 1.0,
       6.0, 8.0, 8.0, 0.0, 1.0, 4.0, 2.0, 3.0, 6.0, 0.0, 8.0, 7.0, 1.0,
       4.0, 4.0, 6.0, 10.0, 2.0, 5.0, 0.0, 8.0, 4.0, 1.0, 0.0, 6.0, 3.0,
       11.0, 1.0, 10.0, 0.0, 3.0, 0.0, 0.0, 1.0, 2.0, 0.0, 5.0, 7.0, 5.0,
       1.0, 5.0, 12.0, 2.0, 4.0, 2.0, 0.0, 2.0, 2.0, 7.0, 6.0, 0.0, 5.0,
       2.0, 6.0, 4.0, 5.0, 1.0, 11.0, 1.0, 0.0, 2.0, 1.0, 0.0, 4.0, 6.0,
       5.0, 0.0, 0.0, 2.0, 6.0, 2.0, 1.0, 3.0, 0.0, 11.0, 5.0, 2.0, 1.0,
       7.0, 2.0, 3.0, 3.0, 2.0, 1.0, 1.0, 1.0, 3.0, 6.0, 0.0, 3.0, 3.0,
       5.0, 1.0, 3.0, 9.0, 0.0, 8.0, 11.0, 5.0, 9.0, 2.0, 2.0, 0.0, 0.0,
       5.0, 2.0, 11.0, 3.0, 2.0, 9.0, 0.0, 0.0, 1.0, 0.0, 1.0, 1.0, 10.0,
       0.0, 8.0, 3.0, 6.0, 3.0, 1.0, 5.0, 2.0, 2.0, 5.0, 10.0, 9.0, 11.0,
       9.0, 9.0, 0.0, 2.0, 4.0, 4.0, 0.0, 10.0, 3.0, 3.0, 0.0, 1.0, 2.0,
       2.0, 1.0, 1.0, 6.0, 7.0, 0.0, 6.0, 1.0, 0.0, 5.0, 7.0, 1.0, 5.0,
       9.0, 8.0, 14.0, 7.0, 3.0, 10.0, 12.0, 2.0, 0.0, 2.0, 1.0, 0.0, 5.0,
       1.0, 1.0, 4.0, 0.0, 2.0, 7.0, 1.0, 4.0, 7.0, 8.0, 9.0, 5.0, 7.0,
       4.0, 1.0, 0.0, 1.0, 3.0, 7.0, 1.0, 2.0, 3.0, 10.0, 1.0, 10.0, 1.0,
       3.0, 1.0, 4.0, 9.0, 10.0, 6.0, 2.0, 10.0, 4.0, 2.0, 0.0, 8.0, 3.0,
       1.0, 2.0, 9.0, 3.0, 1.0, 6.0, 10.0, 5.0, 6.0, 9.0, 0.0, 5.0, 5.0,
       7.0, 1.0, 9.0], dtype=object)

In [74]:
X_train[:,0]=X_train[:,0].astype('float')

In [76]:
X_train[:,0]

array([1.0, 3.0, 7.0, 1.0, 4.0, 4.0, 12.0, 1.0, 3.0, 9.0, 2.0, 1.0, 3.0,
       5.0, 5.0, 2.0, 5.0, 6.0, 4.0, 1.0, 4.0, 2.0, 1.0, 7.0, 0.0, 8.0,
       11.0, 2.0, 0.0, 3.0, 6.0, 3.0, 10.0, 0.0, 0.0, 0.0, 4.0, 8.0, 1.0,
       2.0, 1.0, 0.0, 2.0, 0.0, 7.0, 2.0, 4.0, 1.0, 4.0, 3.0, 7.0, 3.0,
       0.0, 6.0, 1.0, 1.0, 5.0, 7.0, 13.0, 4.0, 1.0, 6.0, 6.0, 2.0, 0.0,
       9.0, 3.0, 4.0, 0.0, 4.0, 3.0, 2.0, 4.0, 5.0, 10.0, 8.0, 6.0, 6.0,
       3.0, 0.0, 1.0, 4.0, 8.0, 10.0, 0.0, 0.0, 11.0, 13.0, 7.0, 2.0, 1.0,
       5.0, 4.0, 0.0, 2.0, 1.0, 5.0, 4.0, 0.0, 0.0, 10.0, 0.0, 3.0, 4.0,
       3.0, 1.0, 0.0, 5.0, 9.0, 10.0, 10.0, 6.0, 4.0, 11.0, 3.0, 9.0, 0.0,
       5.0, 2.0, 7.0, 2.0, 8.0, 0.0, 7.0, 0.0, 2.0, 0.0, 4.0, 1.0, 0.0,
       12.0, 0.0, 3.0, 2.0, 4.0, 2.0, 4.0, 4.0, 1.0, 6.0, 3.0, 8.0, 4.0,
       4.0, 8.0, 1.0, 0.0, 0.0, 2.0, 13.0, 12.0, 3.0, 1.0, 1.0, 8.0, 1.0,
       0.0, 7.0, 2.0, 5.0, 9.0, 8.0, 1.0, 0.0, 7.0, 1.0, 1.0, 5.0, 7.0,
       7.0, 5.0, 2.0, 0.0, 2.0, 6.0, 3.0, 5.0, 4.0, 2.0, 14.0, 2.0, 1.0,
       4.0, 13.0, 1.0, 1.0, 1.0, 2.0, 2.0, 7.0, 0.0, 0.0, 1.0, 3.0, 5.0,
       2.0, 6.0, 3.0, 2.0, 9.0, 2.0, 4.0, 0.0, 5.0, 6.0, 1.0, 6.0, 4.0,
       10.0, 0.0, 4.0, 4.0, 1.0, 4.0, 2.0, 0.0, 6.0, 2.0, 4.0, 5.0, 0.0,
       1.0, 1.0, 2.0, 1.0, 3.0, 5.0, 0.0, 8.0, 9.0, 8.0, 8.0, 1.0, 8.0,
       1.0, 2.0, 0.0, 0.0, 5.0, 2.0, 1.0, 3.0, 4.0, 7.0, 8.0, 4.0, 1.0,
       1.0, 2.0, 2.0, 2.0, 2.0, 3.0, 7.0, 0.0, 2.0, 11.0, 0.0, 4.0, 3.0,
       2.0, 7.0, 1.0, 1.0, 5.0, 1.0, 4.0, 4.0, 8.0, 6.0, 5.0, 1.0, 7.0,
       3.0, 6.0, 13.0, 3.0, 6.0, 4.0, 3.0, 1.0, 3.0, 3.0, 7.0, 12.0, 1.0,
       0.0, 1.0, 2.0, 8.0, 0.0, 3.0, 6.0, 9.0, 3.0, 3.0, 0.0, 2.0, 5.0,
       1.0, 1.0, 1.0, 3.0, 4.0, 8.0, 1.0, 4.0, 1.0, 0.0, 0.0, 2.0, 3.0,
       1.0, 10.0, 1.0, 4.0, 3.0, 7.0, 8.0, 1.0, 8.0, 0.0, 6.0, 4.0, 7.0,
       2.0, 13.0, 2.0, 7.0, 1.0, 6.0, 1.0, 7.0, 2.0, 3.0, 3.0, 3.0, 2.0,
       2.0, 2.0, 1.0, 1.0, 9.0, 5.0, 6.0, 1.0, 1.0, 5.0, 1.0, 6.0, 2.0,
       3.0, 6.0, 0.0, 9.0, 9.0, 1.0, 7.0, 3.0, 2.0, 0.0, 2.0, 1.0, 5.0,
       8.0, 0.0, 1.0, 2.0, 7.0, 4.0, 1.0, 2.0, 1.0, 3.0, 1.0, 7.0, 9.0,
       1.0, 2.0, 0.0, 8.0, 3.0, 2.0, 10.0, 1.0, 0.0, 8.0, 7.0, 5.0, 1.0,
       6.0, 8.0, 8.0, 0.0, 1.0, 4.0, 2.0, 3.0, 6.0, 0.0, 8.0, 7.0, 1.0,
       4.0, 4.0, 6.0, 10.0, 2.0, 5.0, 0.0, 8.0, 4.0, 1.0, 0.0, 6.0, 3.0,
       11.0, 1.0, 10.0, 0.0, 3.0, 0.0, 0.0, 1.0, 2.0, 0.0, 5.0, 7.0, 5.0,
       1.0, 5.0, 12.0, 2.0, 4.0, 2.0, 0.0, 2.0, 2.0, 7.0, 6.0, 0.0, 5.0,
       2.0, 6.0, 4.0, 5.0, 1.0, 11.0, 1.0, 0.0, 2.0, 1.0, 0.0, 4.0, 6.0,
       5.0, 0.0, 0.0, 2.0, 6.0, 2.0, 1.0, 3.0, 0.0, 11.0, 5.0, 2.0, 1.0,
       7.0, 2.0, 3.0, 3.0, 2.0, 1.0, 1.0, 1.0, 3.0, 6.0, 0.0, 3.0, 3.0,
       5.0, 1.0, 3.0, 9.0, 0.0, 8.0, 11.0, 5.0, 9.0, 2.0, 2.0, 0.0, 0.0,
       5.0, 2.0, 11.0, 3.0, 2.0, 9.0, 0.0, 0.0, 1.0, 0.0, 1.0, 1.0, 10.0,
       0.0, 8.0, 3.0, 6.0, 3.0, 1.0, 5.0, 2.0, 2.0, 5.0, 10.0, 9.0, 11.0,
       9.0, 9.0, 0.0, 2.0, 4.0, 4.0, 0.0, 10.0, 3.0, 3.0, 0.0, 1.0, 2.0,
       2.0, 1.0, 1.0, 6.0, 7.0, 0.0, 6.0, 1.0, 0.0, 5.0, 7.0, 1.0, 5.0,
       9.0, 8.0, 14.0, 7.0, 3.0, 10.0, 12.0, 2.0, 0.0, 2.0, 1.0, 0.0, 5.0,
       1.0, 1.0, 4.0, 0.0, 2.0, 7.0, 1.0, 4.0, 7.0, 8.0, 9.0, 5.0, 7.0,
       4.0, 1.0, 0.0, 1.0, 3.0, 7.0, 1.0, 2.0, 3.0, 10.0, 1.0, 10.0, 1.0,
       3.0, 1.0, 4.0, 9.0, 10.0, 6.0, 2.0, 10.0, 4.0, 2.0, 0.0, 8.0, 3.0,
       1.0, 2.0, 9.0, 3.0, 1.0, 6.0, 10.0, 5.0, 6.0, 9.0, 0.0, 5.0, 5.0,
       7.0, 1.0, 9.0], dtype=object)

In [75]:

from sklearn.preprocessing import StandardScaler
stdscalar = StandardScaler()
X_train = stdscalar.fit_transform(X_train)
X_test = stdscalar.transform(X_test)

ValueError: could not convert string to float: 'Pregnancies'