In [1]:
from IPython.display import Image

# Notes from MIT
Read more : http://introtodeeplearning.com/slides/6S191_MIT_DeepLearning_L1.pdf


!['N'](images/mladvance.jpg)

What is Deep learning

* Deep learning is an AI function that mimics the workings of the human brain in processing data for use in detecting objects, recognizing speech, translating languages, and making decisions.
* Deep learning AI is able to learn without human supervision, drawing from data that is both unstructured and unlabeled.
* Deep learning (also known as deep structured learning) is part of a broader family of machine learning methods based on artificial neural networks with representation learning. Learning can be supervised, semi-supervised or unsupervised

!['N'](images/neuron2.png)

In biological brain we have individual cells called neurons, each neuron looks what other neuron looks at to what itâ€™s neighbor has to say then it decides what it wants to say. In artificial neural network we have little mathematical functions we put them in some organised structure and then we say okay! you guys are all together to learn to do this task.

!['N'](images/neuron.jpg)

# Application of Deep learning 
* Self Driving Cars.
* News Aggregation and Fraud News Detection.
* Deep Learning in Healthcare (Breast or Skin-Cancer diagnostics)
* Voice Search & Voice-Activated Assistants
* Visual Recognition.
* Fraud Detection.
* Automatic Machine Translation
* Automatic Text Generation

# ML & DS

!['N'](images/mldeep.png)

# TensorFlow 2.3

TensorFlow is an end-to-end open source platform for machine learning. It has a comprehensive, flexible ecosystem of tools, libraries and community resources that lets researchers push the state-of-the-art in ML and developers easily build and deploy ML powered applications.

* Created by the Google Brain team
    
https://www.tensorflow.org/

# Keras

* Keras is an open-source neural-network library written in Python. 
* It is capable of running on top of TensorFlow, Microsoft Cognitive Toolkit, R, Theano, or PlaidML. Designed to enable fast experimentation with deep neural networks, it focuses on being user-friendly, modular, and extensible
* https://keras.io/

##### Requires the latest pip
pip install --upgrade pip

##### Current stable release for CPU and GPU
pip install tensorflow

##### Or try the preview build (unstable)
pip install tf-nightly

* https://www.tensorflow.org/install

In [1]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split

In [2]:
df = pd.read_csv('data/Churn_Modelling.csv')

In [3]:
df.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [4]:
X = df.drop(labels=['CustomerId', 'Surname', 'RowNumber', 'Exited'], axis = 1)
y = df['Exited']

In [5]:
X.head()

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary
0,619,France,Female,42,2,0.00,1,1,1,101348.88
1,608,Spain,Female,41,1,83807.86,1,0,1,112542.58
2,502,France,Female,42,8,159660.80,3,1,0,113931.57
3,699,France,Female,39,1,0.00,2,0,0,93826.63
4,850,Spain,Female,43,2,125510.82,1,1,1,79084.10

In [6]:
X = pd.get_dummies(X, columns=['Geography','Gender'])
X.head()

,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Geography_France,Geography_Germany,Geography_Spain,Gender_Female,Gender_Male
0,619,42,2,0.00,1,1,1,101348.88,1,0,0,1,0
1,608,41,1,83807.86,1,0,1,112542.58,0,0,1,1,0
2,502,42,8,159660.80,3,1,0,113931.57,1,0,0,1,0
3,699,39,1,0.00,2,0,0,93826.63,1,0,0,1,0
4,850,43,2,125510.82,1,1,1,79084.10,0,0,1,1,0

In [7]:
X.head()

,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Geography_France,Geography_Germany,Geography_Spain,Gender_Female,Gender_Male
0,619,42,2,0.00,1,1,1,101348.88,1,0,0,1,0
1,608,41,1,83807.86,1,0,1,112542.58,0,0,1,1,0
2,502,42,8,159660.80,3,1,0,113931.57,1,0,0,1,0
3,699,39,1,0.00,2,0,0,93826.63,1,0,0,1,0
4,850,43,2,125510.82,1,1,1,79084.10,0,0,1,1,0

In [8]:
from sklearn.preprocessing import StandardScaler
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 0, stratify = y)
scaler = StandardScaler()
X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)

In [9]:
X_train.shape

(8000, 13)

In [10]:
X.shape[1]

13

In [11]:
import tensorflow as tf
from tensorflow import keras
from tensorflow.keras import Sequential, Model
from tensorflow.keras.layers import Dense, Input

In [12]:
model = Sequential()
model.add(Dense(1000, activation='relu', input_dim = X.shape[1]))
model.add(Dense(1000, activation='relu'))
model.add(Dense(1000, activation="relu"))
model.add(Dense(1000, activation="relu"))
model.add(Dense(1, activation = 'sigmoid'))

In [13]:
%%time
model.compile(optimizer='adam', 
              loss = 'binary_crossentropy',
              metrics=['accuracy'])

Wall time: 16 ms

In [ ]:
#binary classifcation setup - sigmoid
#target values as 0 and 1 (binarized labels)
#model.add(Dense(1, activation = 'sigmoid'))

#multiclass classifcation setup - softmax (three classes) classes were 0, 1, 2
#loss - categorical_crossentropy for one hot encoded values or sparse_categorical_crossentropy for labels encoded values
#model.add(Dense(4, activation = 'softmax))

#regression setup - (not declared or explictied set to linear)
#loss - mse, mae
#model.add(Dense(1, activation = 'linear'))

In [14]:
%%time
model.fit(X_train, y_train.to_numpy(), batch_size = 20, epochs = 10, verbose = 1)

Epoch 1/10
400/400 [==============================] - 13s 29ms/step - loss: 0.4405 - accuracy: 0.8168
Epoch 2/10
400/400 [==============================] - 10s 26ms/step - loss: 0.3530 - accuracy: 0.8583
Epoch 3/10
400/400 [==============================] - 10s 25ms/step - loss: 0.3438 - accuracy: 0.86020s - loss: 0.3437 - accuracy: 0.86
Epoch 4/10
400/400 [==============================] - 11s 26ms/step - loss: 0.3469 - accuracy: 0.8573
Epoch 5/10
400/400 [==============================] - 11s 27ms/step - loss: 0.3338 - accuracy: 0.8623
Epoch 6/10
400/400 [==============================] - 12s 29ms/step - loss: 0.3349 - accuracy: 0.86060s - loss: 0.3349 - accuracy: 0.
Epoch 7/10
400/400 [==============================] - 10s 26ms/step - loss: 0.3138 - accuracy: 0.8735
Epoch 8/10
400/400 [==============================] - 10s 26ms/step - loss: 0.3197 - accuracy: 0.8667
Epoch 9/10
400/400 [==============================] - 10s 26ms/step - loss: 0.3199 - accuracy: 0.8624
Epoch 10/10
400/400 [==============================] - 11s 27ms/step - loss: 0.3130 - accuracy: 0.8690
Wall time: 1min 47s

In [15]:
y_pred = model.predict(X_test)

In [16]:
# sklearn - model.score(features, labels)

model.evaluate(X_test, y_test.to_numpy())

63/63 [==============================] - 0s 920us/step - loss: 0.3668 - accuracy: 0.8520

[0.36675822734832764, 0.8519999980926514]

In [17]:
from sklearn.metrics import confusion_matrix, accuracy_score

In [18]:
confusion_matrix(y_test, y_pred)

array([[1524,   69],
       [ 227,  180]], dtype=int64)

In [19]:
accuracy_score(y_test, y_pred)

0.852

# vs RandomForest

In [20]:
from sklearn.ensemble import RandomForestClassifier
clf = RandomForestClassifier()
clf.fit(X_train, y_train)
# Make predictions
y_pred = clf.predict(X_test)
accuracy_score(y_test, y_pred)

0.8625